body {
    background-color: antiquewhite;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}