<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/register_page_style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
  <form id="register-form" class="form">
    <label>
      <input type="text" id="username" placeholder="Username">
    </label>
    <label>
      <input type="text" id="password" placeholder="Password">
    </label>
    <button type="submit">Register</button>
  </form>

  <script src="/js/register.js"></script>
</body>
</html>